<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
  </head>
<body>
<ul id="messages"></ul>
<ul class="pages">
  <li class="chat page">
    <div class="chatArea">
      <ul class="messages"></ul>
    </div>
    <input class="inputMessage" placeholder="Type here..."/>
  </li>
<form action ="">
  <input id ="msg" type="text">
  <button>send</button>
  <script src=https://code.jquery.com/jquery-3.5.1.min.js
></script>
  <script src="/socket.io/socket.io.js"></script>
<script>
  var socket=io();
  $('form').submit(function (){
    socket.emit('Id_msg',{'Msg':$('#msg').val(),'user':'Fredj'});
    $('#msg').val('');
    return false;
  });
socket.on('Id_msg',function(msg){
  $('#messages').append($('<li>').text(msg));
});
</script>
</form>
</body>
</html>
